<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.moondroid.project01_meetingapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_MEDIA_LOCATION"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:name=".library.KakaoApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Project01_MeetingApp"
        android:usesCleartextTraffic="true"
        android:requestLegacyExternalStorage="true">
        <activity android:name=".page_tab1_info.OptionModifyActivity"></activity>
        <activity
            android:name=".page.PageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".account.AccountActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".login.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".login.IntroActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".mypages.MyPageSettingActivity"
            android:parentActivityName=".main.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mypages.MyPageMKChargeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mypages.MyPagePremiumActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mypages.MyPageRecentActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mypages.MyPageFavoriteActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".profileset.ProfileSetActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".account.LocationChoiceActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".account.InterestActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".createmeet.CreateActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".option02notification.NotificationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".option01search.SearchActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable_search_activity" />
        </activity>
        <activity
            android:name=".main.MainActivity"
            android:screenOrientation="portrait" />
        <activity android:name="com.kakao.sdk.auth.AuthCodeHandlerActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="oauth"
                    android:scheme="kakaof33663a89ab7e4f6ace89f2ebeade100" />
            </intent-filter>
        </activity>

    </application>

</manifest>